---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const posts = (await getCollection('blog'))
    .filter(p => import.meta.env.PROD ? !p.data.hiddenInProduction : true)
    .sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    )
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <header>
        <h1>Eawas (Welcome) 👋</h1>
        <p>...to my personal blog. Just enjoy this pixel perfectly aligned text.</p>
    </header>

    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}/`}>
                        {post.data.hiddenInProduction && <span>[dev-only]</span>}
                        <FormattedDate date={post.data.pubDate} />
                        -
                        <span class="font-bold">{post.data.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
