---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="flex flex-col">
        <h1>Eawas (Welcome) 👋</h1>
        <p>...to my personal blog. Just enjoy this pixel perfectly aligned text.</p>
        <br>

        <section>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.slug}/`} class="flex">
                                <p>
                                    <FormattedDate date={post.data.pubDate} />
                                    -
                                    <span class="font-bold">{post.data.title}</span>
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </div>
</BaseLayout>
